@using SchoolProject2.Utility

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SchoolProject2</title>

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="w-full p-5 flex items-center justify-between bg-white border-b border-gray-200 text-black">
            <div class="flex items-center space-x-2 hover:text-blue-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path d="M12 14l9-5-9-5-9 5 9 5z" />
                    <path d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
                </svg>
                <a asp-page="/Index" class="text-2xl font-bold">DanlabSchool</a>
            </div>
            <div class="md:flex md:items-center md:space-x-10">
                <ul class="md:flex md:space-x-6">
                    <li>
                        <a class="hover:text-blue-500" asp-area="" asp-page="/Index">Home</a>
                    </li>
                    <li>
                        <a class="hover:text-blue-500" asp-area="" asp-page="/Packages">Packages</a>
                    </li>
                    <li>
                        <a class="hover:text-blue-500" href="https://www.facebook.com/pg/school.danlab/reviews/?ref=page_internal">Reviews</a>
                    </li>
                    <li>
                        <a class="hover:text-blue-500" asp-area="" asp-page="/Team">Our Team</a>
                    </li>
                    @if (User.IsInRole(SD.AdminUser))
                    {
                        <li>
                            <a class="hover:text-blue-500" asp-area="Admin" asp-page="/Index">Admin Zone</a>
                        </li>
                    }
                    @if (User.IsInRole(SD.StudentUser))
                    {
                        <li>
                            <a class="hover:text-blue-500" asp-area="Student" asp-page="/Index">Student Zone</a>
                        </li>
                    }
                    @if (User.IsInRole(SD.TeacherUser))
                    {
                        <li>
                            <a class="hover:text-blue-500" asp-area="Teacher" asp-page="/Index">Teacher Zone</a>
                        </li>
                    }
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>

    <div class="w-full">
        @RenderBody()
    </div>

    <footer class="w-full bg-gray-900 px-32 py-10 bottom-0">
        <div class="md:flex text-gray-100 justify-between">
            <div class="space-y-10">
                <div>
                    <div class="flex items-center space-x-2 hover:text-blue-500">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path d="M12 14l9-5-9-5-9 5 9 5z" />
                            <path d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
                        </svg>
                        <a asp-page="/Index" class="text-2xl font-bold">DanlabSchool</a>
                    </div>
                    <p class="text-gray-400">Your fluency is our priority!</p>
                </div>
                <div>
                    <ul class="flex space-x-10 mt-14">
                        <li>
                            <a href="https://www.facebook.com/school.danlab" aria-label="Facebook" class="text-2xl md:text-3xl lg:text-4xl hover:text-purple-500">
                                <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 24 24" width="24" height="24" class="fill-current"><path d="M20.9,2H3.1A1.1,1.1,0,0,0,2,3.1V20.9A1.1,1.1,0,0,0,3.1,22h9.58V14.25h-2.6v-3h2.6V9a3.64,3.64,0,0,1,3.88-4,20.26,20.26,0,0,1,2.33.12v2.7H17.3c-1.26,0-1.5.6-1.5,1.47v1.93h3l-.39,3H15.8V22h5.1A1.1,1.1,0,0,0,22,20.9V3.1A1.1,1.1,0,0,0,20.9,2Z" /></svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/danlab_school" aria-label="Instagram" class="text-2xl md:text-3xl lg:text-4xl hover:text-purple-500">
                                <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 24 24" width="24" height="24" class="fill-current"><path d="M17.34,5.46h0a1.2,1.2,0,1,0,1.2,1.2A1.2,1.2,0,0,0,17.34,5.46Zm4.6,2.42a7.59,7.59,0,0,0-.46-2.43,4.94,4.94,0,0,0-1.16-1.77,4.7,4.7,0,0,0-1.77-1.15,7.3,7.3,0,0,0-2.43-.47C15.06,2,14.72,2,12,2s-3.06,0-4.12.06a7.3,7.3,0,0,0-2.43.47A4.78,4.78,0,0,0,3.68,3.68,4.7,4.7,0,0,0,2.53,5.45a7.3,7.3,0,0,0-.47,2.43C2,8.94,2,9.28,2,12s0,3.06.06,4.12a7.3,7.3,0,0,0,.47,2.43,4.7,4.7,0,0,0,1.15,1.77,4.78,4.78,0,0,0,1.77,1.15,7.3,7.3,0,0,0,2.43.47C8.94,22,9.28,22,12,22s3.06,0,4.12-.06a7.3,7.3,0,0,0,2.43-.47,4.7,4.7,0,0,0,1.77-1.15,4.85,4.85,0,0,0,1.16-1.77,7.59,7.59,0,0,0,.46-2.43c0-1.06.06-1.4.06-4.12S22,8.94,21.94,7.88ZM20.14,16a5.61,5.61,0,0,1-.34,1.86,3.06,3.06,0,0,1-.75,1.15,3.19,3.19,0,0,1-1.15.75,5.61,5.61,0,0,1-1.86.34c-1,.05-1.37.06-4,.06s-3,0-4-.06A5.73,5.73,0,0,1,6.1,19.8,3.27,3.27,0,0,1,5,19.05a3,3,0,0,1-.74-1.15A5.54,5.54,0,0,1,3.86,16c0-1-.06-1.37-.06-4s0-3,.06-4A5.54,5.54,0,0,1,4.21,6.1,3,3,0,0,1,5,5,3.14,3.14,0,0,1,6.1,4.2,5.73,5.73,0,0,1,8,3.86c1,0,1.37-.06,4-.06s3,0,4,.06a5.61,5.61,0,0,1,1.86.34A3.06,3.06,0,0,1,19.05,5,3.06,3.06,0,0,1,19.8,6.1,5.61,5.61,0,0,1,20.14,8c.05,1,.06,1.37.06,4S20.19,15,20.14,16ZM12,6.87A5.13,5.13,0,1,0,17.14,12,5.12,5.12,0,0,0,12,6.87Zm0,8.46A3.33,3.33,0,1,1,15.33,12,3.33,3.33,0,0,1,12,15.33Z" /></svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="space-y-5">
                <h2 class="text-2xl font-bold">Links</h2>
                <ul class="space-y-3 font-medium text-gray-300">
                    <li>
                        <a class="hover:text-blue-500" asp-area="" asp-page="/Index">Home</a>
                    </li>
                    <li>
                        <a class="hover:text-blue-500" asp-area="" asp-page="/Packages">Packages</a>
                    </li>
                    <li>
                        <a class="hover:text-blue-500" href="https://www.facebook.com/pg/school.danlab/reviews/?ref=page_internal">Reviews</a>
                    </li>
                    <li>
                        <a class="hover:text-blue-500" asp-area="" asp-page="/Team">Our Team</a>
                    </li>
                </ul>
            </div>
            <div class="space-y-5">
                <h2 class="text-2xl font-bold">Authors</h2>
                <ul class="space-y-3 font-medium text-gray-300">
                    <li>Razu Ahmed</li>
                    <li>Vladimir Shumilin</li>
                    <li>Zdeněk Pašek</li>
                    <li>Andrei Sarbu</li>
                    <li>Natalie Nayana Christiansen</li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
