@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "bg-red-500" : "bg-green-500";
    <div class="alert @statusMessageClass w-full md:max-w-3xl px-5 py-3 rounded text-white font-semibold my-5" role="alert">
        <div class="flex items-center justify-between">
            <p>@Model</p>
            <button type="button" onclick="this.parentElement.parentElement.style.display = 'none';">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>
    </div>
}