@page
@model ChangePasswordModel
@{
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="px-10 md:px-0 w-full md:w-96">
        <div class="mb-12">
            <h1 class="text-3xl font-bold">Change password</h1>
        </div>
        <form id="change-password-form" method="post">
            <div asp-validation-summary="All" class="text-red-600"></div>
            <div class="form-group">
                <input asp-for="Input.OldPassword" placeholder="Your old password" class="w-full h-15 px-5 py-4 my-2 outline-none rounded bg-gray-100"  />
                <span asp-validation-for="Input.OldPassword" class="text-red-600"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.NewPassword" placeholder="Your new password" class="w-full h-15 px-5 py-4 my-2 outline-none rounded bg-gray-100"  />
                <span asp-validation-for="Input.NewPassword" class="text-red-600"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.ConfirmPassword" placeholder="Confirm your new password" class="w-full h-15 px-5 py-4 my-2 outline-none rounded bg-gray-100"  />
                <span asp-validation-for="Input.ConfirmPassword" class="text-red-600"></span>
            </div>
            <div class="form-group">
                <button id="change-password-button" type="submit" class="bg-purple-600 hover:bg-purple-800 text-white py-3 text-center w-full font-bold mx-auto block rounded mt-10">Update password</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}