@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="row">
    <div class="px-10 md:px-0 w-full md:w-96">
        <div class="mb-12">
            <h1 class="text-3xl font-bold">Your personal data</h1>
        </div>
        <div class="text-gray-600">
            <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
            <p class="font-bold">
                Deleting this data will permanently remove your account, and this cannot be recovered.
            </p>
        </div>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button id="personal-data-button" type="submit" class="bg-purple-600 hover:bg-purple-800 text-white py-3 text-center w-full font-bold mx-auto block rounded mt-10">Download</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="bg-purple-600 hover:bg-purple-800 text-white py-3 text-center w-full font-bold mx-auto block rounded mt-10">Delete</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
