@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section>
    <div class="md:flex">
        <img src="~/images/home-image.jpg" alt="Homepage" class="w-full md:w-1/2 object-cover object-right"/>
        <div class="bg-yellow-200 w-full flex" style="color: #260b42">
            <div class="max-w-lg space-y-10 m-auto p-4">
                <h1 class="text-4xl font-bold">
                    Probably, the best school you can find!
                </h1>
                <div class="space-y-8">
                    <p>
                        Hello, my name is Eliza! And I started this school as the Danish language school. As I am myself fluent in Danish & wanted to help people to better their pronunciation, grammar & talking skills.
                    </p>
                    <p>
                        Before the pandemic, we had a gorgeous office right in the heart of Copenhagen, but after some time we decided to become a fully online school!
                    </p>
                    <p>
                        We offer only online lessons, but you see real people live on every our lessons. No recorded online courses, as we find them ineffective.
                    </p>
                    <p>
                        Feel free to contact us on <a href="https://www.facebook.com/school.danlab" class="underline font-semibold hover:text-pink-500 transition duration-200">Facebook</a>, <a href="https://www.instagram.com/danlab_school/?fbclid=IwAR07uTjdcEvWoFG-3DN3j3cNSf4wJZLlY91hbPtL7sDbVdJ8S_cUYWWUlfc" class="underline font-semibold hover:text-pink-500 transition duration-200">Instagram</a>, <a href="https://t.me/danlabschool" class="underline font-semibold hover:text-pink-500 transition duration-200">Telegram</a> or <a href="mailto:contact@danlabschool.com" class="underline font-semibold hover:text-pink-500 transition duration-200">e-mail</a>!!
                    </p>
                    <p>See you! 👋🏼</p>
                </div>
            </div>
        </div>
    </div>
</section>
