@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div>
    <div class="my-5">
        <h1 class="text-6xl font-bold">Privacy</h1>
        <p class="text-gray-600">Pssst...</p>
    </div>

    <img src="https://media.giphy.com/media/6wmz6Qo40eTDf4tW3Z/giphy.gif" alt="Privacy" class="rounded" />
</div>
