@page
@model TeamModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<section class="p-10">
    <div class="md:flex md:space-x-10">
        <img src="~/images/team.jpg" alt="Our Team" class="w-full md:w-1/2 object-cover object-center" />
        <div class="space-y-10 max-w-lg mt-10 md:mt-0">
            <h1 class="text-4xl font-bold">Danish 🇩🇰</h1>
            <div class="space-y-8">
                <p>
                    Our Danish courses are taught by Eliza, who adores languages & everything connected to them!
                </p>
                <p>
                    Being a graduate of the Philological department of the Saint-Petersburg State University with specialization in Danish & Scandinavian studies, Eliza possesses great knowledge within the field, that she generously shares both at our courses & private lessons.
                </p>
                <p>
                    Besides languages, Eliza is also interested in Business & Economics, and possesses as well a second degree from Copenhagen Business School in International Business & Politics, which many of her other projects are connected to.
                </p>
            </div>
        </div>
    </div>
</section>