@page
@model SchoolProject2.Areas.Admin.Pages.AllStudentsModel
<div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-info">All Students</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead class="table-info">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th></th>
                        </tr>
                    <tbody>

                        @if (Model.Student != null)
                        {
                            @foreach (var item in Model.Student)
                            {
                                <tr>
                                    <td>  @item.Id</td>
                                    <td>  @item.Name  </td>
                                    <td>  @item.Email </td>
                                    <td>  @item.PhoneNumber </td>
                                </tr>
                            }
                        }
                </table>
            </div>
        </div>
    </div>
<div>
    <a asp-page="Index">Back to Admin Panel</a>
</div>

