@page
@model SchoolProject2.Areas.Admin.Pages.AllTeachersModel


    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-info">All Teachers</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead class="table-info">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @*@if (Model.TeacherUser != null)
                        {
                            @foreach (var item in Model.TeacherUser)
                            {
                                <tr>
                                    <td>  @item.Id</td>
                                    <td>  @item.Name  </td>
                                    <td>  @item.Email </td>
                                    <td>  @item.PhoneNumber </td>
                                </tr>
                            }
                        }*@
                </table>
            </div>
        </div>
    </div>
    <div>
        <a asp-page="Index">Back to Admin Panel</a>
    </div>
