@page "/Admin/EditStudent/{id}"
@model SchoolProject2.Areas.Admin.Pages.EditStudentModel
@{
}

<div class="container">
    <div class="row mb-2">
        <div class="col">
            <h1 class="text-info">Edit Student</h1>
        </div>
    </div>
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row mb-2">
            <div class="col-6">
                @*<input asp-for="Student.Name" class="form-control" />*@
                <label asp-for="Input.Name" class="control-label"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-6">
                @*<input asp-for="Student.Name" class="form-control" />*@
                <label asp-for="@Model.Students.Name" class="control-label"></label>
                <select asp-for="Input.AllRoles" asp-items="@(new SelectList(Model.Input.AllRoles))" class="custom-select"></select>
                <span asp-validation-for="@Model.Students.Name" class="text-danger"></span>
            </div>
        </div>


        <button type="submit" class="btn btn-primary offset-2">Update</button>
    </form>
</div>
<div>
    <a asp-page="AllStudents">Back to List</a>
</div>
