@page
@model SchoolProject2.Areas.Admin.Pages.EnrolmentsModel
@{
}

<h3 style="color:red">All Enrollments</h3>
<table class="table">
    <thead>
        <tr>
            <th>  Student Id </th>
            <th>  Course Id </th>
        </tr>
    </thead>
    <tbody>

        @*@if (Model.Enrollments != null)
        {
            @foreach (var item in Model.Enrollments)
            {
                <tr>
                    <td> @item.EnrollmentId </td>
                    <td> @item.StudentId </td>
                    <td> @item.CourseId</td>
                </tr>
            }
        }*@
</table>