@page
@model SchoolProject2.Areas.Admin.Pages.IndexModel


<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-info">Admin Zone</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-2 mx-2">
            <a asp-page="AllStudents" class="btn btn-success">Show All Students</a>
        </div>

        <div class="col-2">
            <a asp-page="CreateStudent" class="btn btn-success">Create New Student</a>
        </div>
    </div>
    <div class="row">
        <div class="col-2 mx-2">
            <a asp-page="AllTeachers" class="btn btn-primary">Show All Teachers</a>
        </div>

        <div class="col-2">
            <a asp-page="CreateTeacher" class="btn btn-primary">Create New Teacher</a>
        </div>
    </div>
</div>
