@page
@model ProjectSchool.Pages.Admins.GetAdminsModel
@{
    ViewData["Title"] = "GetAdmins";
}
<p>
    <a asp-page="/Admins/Create">Create New Admin</a>
</p>
<h4 style="color:blue"> List of admins</h4>
<table class="table">
    <thead>
        <tr>
            <th> Admin Id  </th>
            <th> Name </th>
        </tr>
    </thead>
    <tbody>

</table>
